*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.header {
    display: flex;
    justify-content: flex-start;
    font-size: 300%;
    font-family: sans-serif;
    padding-left: 7.5%;
    padding-top: 16px;
    color: #3957F5;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
        1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}



.easel__grid {
    display: inline-grid;
    grid-template-columns: repeat(35, 2fr);
    grid-template-rows: repeat(35, 2fr);
    border: 5px solid white;
    border-radius: 5px;
    height: 650px;
    width: 650px;
    background-color: white;
}

.cell {
    border: black 1px solid;
}

.footer {
    display: flex;
    justify-content: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.settings {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    padding: 4px;
}

button {
    display: flex;
    flex-grow: 1;
    min-width: 120px;
    min-height: 55px;
    font-size: 75%;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    padding: 8px;
    border: #3957F5 2px solid;
}

.settings__grid-size {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.settings__grid-size__slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 16px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.settings__grid-size__slider:hover {
    opacity: 1;
}

.settings__grid-size__slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #3957F5;
    cursor: pointer;
}

.settings__grid-size__slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #3957F5;
    cursor: pointer;
}

.settings__pen-colour {
    gap: 4px;
}